USE [master]
GO
/****** Object:  Database [HashFile]    Script Date: 30.08.2017 23:25:41 ******/
CREATE DATABASE [HashFile]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HashFile', FILENAME = N'\MSSQL\DATA\HashFile.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HashFile_log', FILENAME = N'\MSSQL\DATA\HashFile_log.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HashFile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HashFile]
GO
/****** Object:  Table [dbo].[ExceptionTable]    Script Date: 30.08.2017 23:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExceptionTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Class] [varchar](max) NULL,
	[Method] [varchar](max) NULL,
	[ExceptionMessage] [varchar](max) NULL,
	[Date] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FileHashTable]    Script Date: 30.08.2017 23:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FileHashTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](max) NULL,
	[Hash] [varchar](max) NULL,
	[Date] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
